<div class="center hero-unit">
  <h1>Bienvenue à Ludically</h1>

  <h2>
    Vous êtes sur la page d'accueil de Ludically.
  </h2>

  <%= link_to t(:sign_up), signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>